<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Unify-MFA">
    <test name="Regression">
         <classes>
<!--              <class name="tests.Logintest"/> -->
<!--              <class name="tests.HomePageTests"/> -->
             <class name="tests.UsersTests"/>
             <class name="tests.TokensfunctionalityTests"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->